.supersonic-navbar-mock {
    background-color: #00B5FF !important;
    text-align: center;
    font-weight: 600;
}

/* Multiple views */
.button-menu {
    position: relative;
    background-color: blue;
    z-index: 999;
}

.center-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center-menu-item {
    width: 250px;
    display: inline-block;
    align-self: center;
}

.fadeMenu {
    -webkit-transition: 0.2s linear all;
    transition:  0.2s linear all;
    opacity: 1;
}

.fadeMenu.ng-hide-remove, .fadeMenu.ng-hide-add, .list.ng-hide {
    display: block !important;
}

.fadeMenu.ng-hide {
    opacity: 0;
}

.main-menu {
    bottom: 0;
    right: 0;
    background-color: lightblue;
    z-index: 999;
}

.page-name {
    text-align: center;
}

.profile-picture img {
    max-width: 120px;
    max-height: 120px;
}

.profile-picture, .puppy-characteristics {
    padding: 0px 5px;
    float: left;
}

.title {
    font-size: 14pt;
}

.title input {
    padding: 6px 5px;
    background-color: white;
}

.view {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: auto;
}

.view-dark {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: auto;
    opacity: 0.6;
    z-index: 900;
}

.white-panel {
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
}

/* Index view */
.circle {
    border-radius: 50%;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    display: inline-block;
}

.puppy-information {
    padding-top: 5px;
    display: inline-block;
}

.puppy-input {
    display: block;
    margin: 10px auto 20px auto;
    width: 90%;
    border: 2px solid black !important;
}

/* Menu buttons */
#accident {
    bottom: 0;
    right: 100px;
    background-color: red;
}

#health {
    bottom: 75px;
    right: 130px;
    background-color: yellow;
}

#health, #history, #paw, #potty, #settings, .main-menu, #intentional, #accident {
    position: fixed;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 20px;
}

#history {
    bottom: 150px;
    right: 0;
    background-color: red;
}

#intentional {
    bottom: 100px;
    right: 0;
    background-color: green;
}

#potty {
    bottom: 130px;
    right: 75px;
    background-color: orange;
}

#settings {
    bottom: 0;
    right: 150px;
    background-color: green;
}

/* New profile view */
#carousel {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

#intro {
    margin-bottom: 20px;
}

#save {
    display: block;
    margin: 10px auto;
    width: 50%;
    border: 2px solid black;
}

/* History view */
.nothing {
    color: gray;
    text-align: center;
    width: 100%;
    padding: 15px;
}

/* Potty view */
.checkbox-label {
    font-size: 14pt;
}

.potty-type, .potty-intention {
    display: block;
    margin: 10px auto 20px auto;
    width: 90%;
    text-align: center;
}

.potty-type input {
    margin: 5px 5px 5px 20px;
}

