<div class="view" ng-controller="HealthController">
    <super-navbar>
        <super-navbar-title ng-bind="puppy.name">
        </super-navbar-title>
    </super-navbar>

    <div>
        <h3 class="page-name">Health</h3>
        <hr>
        
        <div class="white-panel">
            <!-- Calendar -->
        </div>

        <div class="white-panel">
            <h3>Event History</h3>

            <div class="nothing" ng-show="symptoms.length === 0">Nothing here!</div>

            <div class="list">
                <a class="item item-icon-left" href="#" ng-repeat="event in symptoms | orderBy:['-date','-time']">
                    <i class="icon super-heart" ng-show="!event.accident"></i>
                    <span class="datetime">{{event.date | date:'yyyy-MM-dd'}}, {{event.time | date:'h:mm a'}}</span>
                    {{event.symptom}}
                </a>
            </div>
        </div>

        <div class="button-menu">
            <super-navigate view-id="new-symptom">
                <button id="generic" class="button icon fadeMenu" ng-show="showHealthMenu" ng-click="newSymptom('generic')" >
                    <i class="icon super-heart"></i>
                </button>
            </super-navigate>
            <super-navigate view-id="new-symptom">
                <button id="first_recent" class="button icon fadeMenu" ng-show="showHealthMenu" ng-click="newSymptom('first')">
                    <i class="icon super-heart"></i>
                </button>
            </super-navigate>
            <super-navigate view-id="new-symptom">
                <button id="second_recent" class="button icon fadeMenu" ng-show="showHealthMenu" ng-click="newSymptom('second')">
                    <i class="icon super-heart"></i>
                </button>
            </super-navigate>

            <button class="button main-menu" ng-click="toggleHealthMenu()">
                <i class="icon super-plus-round"></i>
            </button>
        </div>
    </div>
</div>