<super-navbar>
    <super-navbar-title>
        Bobo
    </super-navbar-title>
</super-navbar>

<div class="view" ng-controller="HistoryController">
    <h3 class="page-name">History</h3>
    <hr>

    <div class="nothing" ng-show="history === null">Nothing here!</div>

    <div class="list" ng-show="history !== null">
        <a class="item item-icon-left" href="#" ng-repeat="event in history">
            <i class="icon super-happy-outline" ng-if="event.type == 'intentional'"></i>
            <i class="icon super-sad-outline" ng-if="event.type == 'accident'"></i>
            <i class="icon super-heart" ng-if="event.type == 'health'"></i>
            Pee
        </a>
    </div>
</div>
