<div id="profile" ng-controller="IndexController">
    <super-navbar>
        <super-navbar-title>
            Bork
        </super-navbar-title>
    </super-navbar>

    <div class="puppy-information">
        <h3 class="puppy-name">Bork</h3>
        <div>
            <img class="profile-picture" src="/images/puppy.jpg" alt="puppy" />
        </div>
        <div>
            <p>Breed:</p>
        </div>
        <div>
            <p>Age:</p>
        </div>
    </div>

    <div class="puppy-summary">
        <h3>Summary</h3>

    </div>

    <div class="profile-menu">
        <button class="button">
            <i class="icon super-navicon"></i>
        </button>
    </div>
</div>
