<!-- TODO: conditional navbar, conditional intro -->
<div class="nonuser" ng-controller="IndexController">
    <div class="white-panel">
        <h3 class="page-name" ng-show="showWelcome">Welcome!</h3>

        <div id="intro">
            <p class="page-name title">Let's start by adding a puppy profile:</p>
        </div>
            
        <div>
            <label class="title">Puppy name (required): <input class="puppy-input" type="text" ng-model="name" /></label>
        </div>

        <div>
            <label class="title">Puppy birthday: <input class="puppy-input" type="text" ng-model="birthday" /></label>
        </div>

        <div>
            <label class="title">Puppy breed: <input class="puppy-input" type="text" ng-model="breed" /></label>
        </div>

        <div>
            <button class="button puppy-input picture-menu" ng-click="choosePicture()" ng-show="puppyPicture === null">
                Choose Picture
            </button>
            <button class="button puppy-input picture-menu" ng-click="choosePicture()"  ng-show="puppyPicture !== null">
                Change Picture
            </button>
        </div>

        <div class="center-menu" ng-show="showPictureMenu">
            <button class="item item-icon-left picture-item" ng-click="chooseFromLibrary()">
                <i class="icon super-upload"></i>
                Choose from library
            </button>
            <button class="item item-icon-left picture-item" ng-click="takePicture()">
                <i class="icon super-ios-camera"></i>
                Take picture
            </button>
        </div>

        <button id="save" class="button" ng-click="saveProfile()">
            Save
        </button>
    </div>

</div>