<!-- TODO: conditional navbar, conditional intro -->
<div class="nonuser" ng-controller="IndexController">
    <div class="white-panel">
        <h3 class="page-name" ng-show="showWelcome">Welcome!</h3>

        <div id="intro">
            <p class="page-name title">Let's start by adding a puppy profile:</p>
        </div>
            
        <div>
            <label class="title">
                Puppy name (required):
                <input class="puppy-input" type="text" ng-model="name" />
            </label>
        </div>

        <div>
            <label class="title">
                Puppy birthday:
                <md-datepicker class="puppy-input" ng-model="birthday"></md-datepicker>
            </label>
        </div>

        <div>
            <label class="title">
                Puppy breed:
                <input class="puppy-input" type="text" ng-model="breed" />
            </label>
        </div>

        <div>
            <button class="button puppy-input picture-menu" ng-click="choosePicture()" ng-show="puppyPicture === null">
                Choose Picture
            </button>
            <button class="button puppy-input picture-menu" ng-click="choosePicture()"  ng-show="puppyPicture !== null">
                Change Picture
            </button>
        </div>

        <div class="center-menu-container" ng-show="showPictureMenu">
            <!-- <div class="center-menu-options"> -->
                <button class="item item-icon-left center-menu-item" ng-click="chooseFromLibrary()">
                    <i class="icon super-upload"></i>
                    Choose from library
                </button>
                <button class="item item-icon-left center-menu-item" ng-click="takePicture()">
                    <i class="icon super-ios-camera"></i>
                    Take picture
                </button>
                <button class="item item-icon-left center-menu-item" ng-click="deletePicture()" ng-show="puppyPicture !== null">
                    <i class="icon super-trash-b"></i>
                    Delete picture
                </button>
                <button class="item item-icon-left center-menu-item" ng-click="cancelPicture()">
                    <i class="icon super-close-round"></i>
                    Cancel
                </button>
            <!-- </div> -->
        </div>

        <button id="save" class="button" ng-click="saveProfile()">
            Save
        </button>
    </div>

</div>