<super-navbar>
    <super-navbar-title>
        Bork
    </super-navbar-title>
</super-navbar>

<div class="view">
    <h3 class="page-name">New Profile</h3>
    <hr>

    <div class="white-panel">
        <div>
            <label class="title">Puppy name: <input class="puppy-input" type="text" /></label>
        </div>

        <div>
            <label class="title">Puppy birthday: <input class="puppy-input" type="text" /></label>
        </div>

        <div>
            <label class="title">Puppy breed: <input class="puppy-input" type="text" /></label>
        </div>

        <button id="finish" class="button" ng-click="finishProfile()">
            Save
        </button>
    </div>

</div>
