<div class="view" ng-controller="PottyController">
    <super-navbar>
        <super-navbar-title>
            Bobo
        </super-navbar-title>
    </super-navbar>

    <div>
        <h3 class="page-name">Potty</h3>
        <hr>
        
        <div class="white-panel">
            <h4 class="page-name">Potty Frequency</h4>
            <div class="nothing" ng-show="potties.length === 0">Nothing here!</div>

            <h4 class="page-name">Accident Frequency</h4>
            <div class="nothing" ng-show="potties.length === 0">Nothing here!</div>
        </div>

        <div class="white-panel">
            <h3>Event History</h3>

            <div class="nothing" ng-show="potties.length === 0">Nothing here!</div>

            <div class="list">
                <a class="item item-icon-left" href="#" ng-repeat="event in potties">
                    <i class="icon super-happy-outline"></i>
                    {{event.potty_type}}
                </a>
            </div>
        </div>

        <div class="button-menu">
            <button id="intentional" class="button icon fadeMenu" ng-show="showPottyMenu" ng-click="openPotty(0)">
                <i class="icon super-happy-outline"></i>
            </button>
            <button id="accident" class="button icon fadeMenu" ng-show="showPottyMenu" ng-click="openPotty(1)">
                <i class="icon super-sad-outline"></i>
            </button>

            <button class="button main-menu" ng-click="togglePottyMenu()">
                <i class="icon super-plus-round"></i>
            </button>
        </div>
    </div>
</div>
