<super-navbar>
    <super-navbar-title>
        Bobo
    </super-navbar-title>
</super-navbar>

<div id="potty-view">
    <h3 class="page-name">Potty</h3>
    <hr>

    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon super-happy-outline"></i>
            Thing
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon super-sad-outline"></i>
            Thing
        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon super-heart"></i>
            Thing
        </a>
    </div>
</div>
