<div class="view" ng-controller="PottyController">
    <super-navbar>
        <super-navbar-title ng-bind="puppy.name">
        </super-navbar-title>
    </super-navbar>

    <div>
        <h3 class="page-name">Potty</h3>
        <hr>
        
        <div class="white-panel">
            <h4 class="page-name">Potty Frequency</h4>
            <canvas class="chart chart-bar" chart-data="potty_data" chart-labels="potty_labels" chart-series="potty_series">
            </canvas>

            <h4 class="page-name">Accident Frequency</h4>
            <canvas class="chart chart-bar" chart-data="accident_data" chart-labels="accident_labels" chart-series="accident_series">
            </canvas>
        </div>

        <div class="white-panel">
            <h3>Event History</h3>

            <div class="nothing" ng-show="potties.length === 0">Nothing here!</div>

            <div class="list">
                <a class="item item-icon-left" href="#" ng-repeat="event in potties | orderBy:['-date','-time']">
                    <i class="icon super-happy-outline" ng-show="!event.accident"></i>
                    <i class="icon super-sad-outline" ng-show="event.accident"></i>
                    <span class="datetime">{{event.date | date:'yyyy-MM-dd'}}, {{event.time | date:'h:mm a'}}</span>
                    {{event.pee ? (event.poop ? "Pee/Poop" : "Pee") : "Poop"}}
                </a>
            </div>
        </div>

        <div class="button-menu">
            <super-navigate view-id="new-potty">
                <button id="intentional" class="button icon fadeMenu" ng-show="showPottyMenu" ng-click="newPotty('intentional')" >
                    <i class="icon super-happy-outline"></i>
                </button>
            </super-navigate>
            <super-navigate view-id="new-potty">
                <button id="accident" class="button icon fadeMenu" ng-show="showPottyMenu" ng-click="newPotty('accident')">
                    <i class="icon super-sad-outline"></i>
                </button>
            </super-navigate>

            <button class="button main-menu" ng-click="togglePottyMenu()">
                <i class="icon super-plus-round"></i>
            </button>
        </div>
    </div>
</div>
