<super-navbar>
    <super-navbar-title>
        Settings
    </super-navbar-title>
</super-navbar>

<div class="view" ng-controller="IndexController">
    <div class="list">
        <a class="item item-icon-left" ng-click="showNewPuppy()">
            <i class="icon super-plus-round"></i>
            Add another puppy
        </a>

        <a class="item item-icon-left" ng-click="editProfile()">
            <i class="icon super-edit"></i>
            Edit a profile
        </a>

        <a class="item item-icon-left" ng-click="clear()">
            <i class="icon super-trash-b"></i>
            Delete all data
        </a>

    </div>
</div>
